/*Profile table*/

.profile-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table p {
    display: inline-block;
    color: #404040;
    font-size: 18px;
    line-height: 24px;
}

.profile-gray {
    background-color:#efefef;
    width: 490px;
    padding: 10px;
}

.profile-blue {
    background-color: #d8e4f1;
    width: 490px;
    padding: 10px;
}

/*Profile-info table*/

.profile-info {
    border-collapse: collapse;
    width: 980px;
}

.profile-info img {
    padding: 10px;
}

.user-info {
    width: 250px;
    vertical-align: top;
    padding-top: 20px;
}

.user-info div{
    text-align: center;
}

.user-info b {
    display: block;
    margin: 0 auto 5px;
    padding-left: 10px;
}

.user-stat {
    vertical-align: top;
    padding-top: 20px;
}

.user-stat b {
    color: #404040;
}

.greeting h3{
    font-weight: 500;
    line-height: 20px;
    color: #1f2022;
}

.heading{
    background: #efefef;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.heading h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    line-height: 25px;
    color: #404040;
} 

.body-font{
    color: #404040;
    font-size: 17px;
    line-height: 15px;
}

.all-results td:last-child{
    text-align: center;
}

.today-results td:nth-last-child(-n+2){
    text-align: center;
}