.quiz-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.quiz-form p {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.quiz-detail{
  background: #efefef;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
}

.quiz-detail h3{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  line-height: 25px;
}

.label-form{
  color: #404040;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  padding-top: 5px;
}

.label-form-field{
  color: #404040;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
}

.result{
  background: #fae6ae;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.result h3{
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 40px;
  display: inline-block;
}

.buttons{
  display: block;
  float: right;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.buttons a{
  display: inline-block;
}

.score-scale{
  text-align: center;
}