{% extends 'base.html' %}

{% block title %} Tickets {% endblock %}

{% block content %}

<div class="gray">
  <div class="container">
    <table class="catalog">
      {% for ticket in tickets %}
      <tr>
        <td>
          <p><a href="{% url 'show-ticket-pdf' ticket.slug %}">{{ ticket.name }}</a></p>
          <td width="150px"><h5>{{ ticket.level }}</h5></td>
        </td>
        <td>
          <a href="#" class="btn btn-blue btn-blue-small">Практика</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
</div>
 
{% endblock %}
