{% extends "base.html" %}
{% load static %}

{% block title %}  Update profile {% endblock %}

{% block content %}

  <section class="contacts">
    <div class="container">
      <h2 class="contacts-form title">Изменить профиль</h2>
      <form action="{% url 'update-profile' username=user.username %}" class="contacts-form" method="post">{% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Update" class="contacts-form btn btn-blue ">
       
      </form>
    </div>
  </section>

{% endblock %}
