{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<div class="container">
        <h2> Привет, {{ user.username }}! </h2>
        <table class="catalog">
            <tr>
                <td><a href="{% url 'tickets' %}" class="btn btn-blue btn-blue-small">Учить теорию</a></td>
                <td><a href="#" class="btn btn-blue btn-blue-small">Решать задачи</a></td>
            </tr>
            <tr>
                <td>Settings:
                    <a href="{% url 'delete-user-profile' username=user.username %}" class="btn btn-blue btn-blue-small">Удалить профиль</a>
                    <a href="{% url 'update-user-profile' username=user.username %}" class="btn btn-blue btn-blue-small">Изменить профиль</a>
                </td>
            </tr>
        </table>
            {% if user.watched_tickets %}

                {% if user.profile.gender == 1 %}
                    <b>Сегодня ты посмотрел:</b>
                {% elif user.profile.gender == 2 %}
                    <b>Сегодня ты посмотрела:</b>
                {% endif %}

                <ul>
                {% for ticket in user.watched_tickets %}
                    <li>{{ ticket }}</li>
                {% endfor %}
                </ul>

            {% else %}

                {% if user.profile.gender == 1 %}
                    <b>Сегодня ты еще не занимался :( Давай исправим это!</b>
                {% elif user.profile.gender == 2 %}
                    <b>Сегодня ты еще не занималась :( Давай исправим это!</b>
                {% endif %}

            {% endif %}
    </div>


{% endblock %}
