{% extends 'base.html' %}

{% load static %}

{% block title %} Изменить адрес электронной почты {% endblock %}

{% block content %}
  <section class="get-info">
    <div class="container">

      <div class="heading">
        <h3>Изменить адрес электронной почты</h3>
      </div>

      <form class="get-info-form" action="{% url ACCOUNT_EMAIL_UPDATE_URL %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="get-info-form btn btn-blue">
          Сохранить
        </button>

      </form>
    </div>
  </section>
{% endblock %}
