{% extends 'base.html' %}

{% block title %} Создать аккаунт {% endblock %}

{% block content %}
  <section class="get-info">
    <div class="container">
      <h2 class="get-info-form title">Создать аккаунт</h2>
      <form class="get-info-form" action="{% url ACCOUNT_CREATE_URL %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="get-info-form btn btn-blue">
          Создать аккаунт
        </button>

        <p class="get-info-instruction">
          У вас уже есть аккаунт?
          <a href="{% url ACCOUNT_LOGIN_URL %}"><strong>Войти</strong></a>
        </p>

      </form>
    </div>
  </section>
{% endblock %}

