{% load static %}
<!doctype html>

<html lang="rus">

  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/error.css' %}"/>
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'img/logo-icon.png' %}" type="image/x-icon">
    {% block icon %}{% endblock %}
  </head>

  <body>
    {% if user.is_authenticated %}
      {% include 'includes/auth-header.html' %}
    {% else %}
      {% include 'includes/anon-header.html' %}
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}

    {% include 'includes/footer.html' %}

    {% block js %}{% endblock %}
  </body>

</html>
