{% load static %}

<!doctype html>

<html lang="rus">

  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/error.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/logo-icon.png' %}" type="image/x-icon">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block icon %}{% endblock %}
  </head>

  <body>
    {% block header %}

      {% if user.is_authenticated %}
        {% include 'auth_header.html' %}
      {% else %}
        {% include 'not_auth_header.html' %}
      {% endif %}

    {% endblock header %}

    {% block content %} {% endblock %}

    {% include 'footer.html' %}
  </body>

</html>
