{% load static %}
<footer class="main-footer">
  <div class="container">
  <div class="footer-top">
  <div class="footer-address">
  <div class="logo">
  <img src="{% static 'img/logo-icon.png' %}" width="100" height="100" alt="MathHelp">
  </div>
  <p>606103, г. Нижний Новгород,<br> ул. Львовская д. 1В</p>
  </div>
  <div class="footer-social-promo">Присоединяйся к MathHelp!<br>
  Зайди на наши страницы в социальных сетях, чтобы всегда быть в курсе последних новостей.
  </div>
  <div class="copyright">Все права защищены © 2020</div>
  <div class="footer-social">
  <a href="https://vk.com/" class="social-btn social-btn-vk">Вконтакте</a>
  <a href="https://www.facebook.com/" class="social-btn social-btn-fb">Фейсбук</a>
  <a href="https://twitter.com/" class="social-btn social-btn-tw">Твиттер</a>
  <a href="https://www.instagram.com/" class="social-btn social-btn-inst">Инстаграм</a>
  </div>
  </div>
  </div>
  </footer>