<!-- This header is diaplyed to not authenticated users. -->
{% load static %}

    <header class="second-head">
      <div class="container">
      <div class="head-img">
        <img src="{% static 'img/logo-head2.jpg' %}" width="250" height="128" alt="MathHelp">
      </div>
      <nav class="head-nav">
        <ul class="head-ul">
            <li>
              <a href="{% url 'home' %}">Главная</a>
            </li>
            <li>
              <a href="{% url 'sign-up' %}">Регистрация</a>
            </li>
            <li>
              <a href="{% url 'sign-in' %}">Вход</a>
            </li>
        </ul>
      </nav>
      </div>
  </header>
 

