{% extends "base.html" %}
{% load static %}

{% block title %} Registration {% endblock %}

{% block content %}

  <section class="contacts">
    <div class="container">
      <h2 class="contacts-form title">Регистрация</h2>
      <form action="{% url 'register' %}" class="contacts-form" method="post">{% csrf_token %}

          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}

        {{ form.as_p }}

        <input type="submit" value="Register" class="contacts-form btn btn-blue ">
        <p class="contacts-instruction">
          Если вы уже имеете аккаунт:
          <a href="{% url 'login' %}"><strong>Войти</strong></a>
        </p>
      </form>
    </div>
  </section>

{% endblock %}
