{% extends "base.html" %}
{% load static %}

{% block title %} Sign up {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block content %}
  <section class="get-info">
    <div class="container">
      <form id="id_signup_form" action="{% url 'sign-up' %}" method="post">{% csrf_token %}

        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        <p id="id_username_help"></p>
        {{ form.username.errors }}

        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        <p id="id_email_help"></p>
        {{ form.email.errors }}

        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        <p id="id_password1_help"></p>
        {{ form.password1.errors }}

        <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
        {{ form.password2 }}
        <p id="id_password2_help"></p>
        {{ form.password2.errors }}

        <button type="submit" id="id_signup_button">Зарегистрироваться</button>
      </form>
    </div>
  </section>

  {% block js %}
    <script src="{% static 'registration/js/registration.js' %}"></script>
  {% endblock %}
{% endblock %}
