{% extends "base.html" %}
{% load static %}

{% block title %} Регистрация {% endblock %}

{% block content %}
  <section class="get-info">
    <div class="container">
      <h2 class="get-info-form title">Регистрация</h2>
      <form action="{% url 'sign-up' %}" class="get-info-form" method="post">{% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Зарегистрироваться" class="get-info-form btn btn-blue ">
        <p class="get-info-instruction">Если вы уже имеете аккаунт:
          <a href="{% url 'sign-in' %}"><strong>Войти</strong></a>
        </p>
      </form>
    </div>
  </section>

  {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'registration/js/registration.js' %}"></script>
  {% endblock %}

{% endblock %}
