{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
  <div class="container">
      <h2 id="greeting">{{ user.username }}</h2>

     <table>
       <tr>
         <td>
           <button class="btn btn-blue">
             <a href="{% url 'ticket-list' %}">Учить билеты</a>
           </button>
         </td>
         <td>
           <button class="btn btn-blue">
             <a href="{% url 'edit-profile' %}">Редактировать профиль</a>
           </button>
         </td>
         <td>
           <button class="btn btn-blue">
             <a href="{% url 'delete-profile' %}"
                 onclick="return confirm('Вы уверены, что хотите удалить свой профиль?')">Удалить профиль</a>
           </button>
         </td>
       </tr>
     </table>
    <br>

    <img src="{{ user.profile.image.url }}">

    {% if request.session.watched_tickets %}
        {% if user.profile.is_male %}
            <b>Сегодня ты посмотрел:</b>
        {% elif user.profile.is_female %}
            <b>Сегодня ты посмотрела:</b>
        {% else %}
            <b>Сегодня вы посмотрели:</b>
        {% endif %}
        <ul>
        {% for ticket in request.session.watched_tickets %}
            <li>{{ ticket }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {% if user.profile.is_male %}
            <b>Сегодня ты еще не занимался :( Давай исправим это!</b>
        {% elif user.profile.is_female %}
            <b>Сегодня ты еще не занималась :( Давай исправим это!</b>
        {% else %}
            <b>Сегодня вы еще не занимались :( Давай исправим это!</b>
        {% endif %}
    {% endif %}

  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'profile/js/profile.js' %}"></script>
{% endblock %}
