{% extends "base.html" %}
{% load static %}

{% block title %}  Update profile {% endblock %}

{% block content %}

  <section class="get-info">
    <div class="container">
      <h2 class="get-info-form title">Изменить профиль</h2>
      <form action="{% url 'update-profile' %}" class="get-info-form" 
       enctype="multipart/form-data" method="post">{% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Update" class="get-info-form btn btn-blue ">
       
      </form>
    </div>
  </section>

{% endblock %}
