{% extends 'base.html' %}

{% load static %}

{% block title %} {{ ticket.name }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h2>{{ ticket.name }}</h2>
    <a href="{{ ticket.get_absolute_url }}" download class="btn btn-blue">Скачать</a>
    <a href="{% url TICKET_READ_PDF_URL ticket.filename %}" class="btn btn-blue">Читать онлайн</a>
    <a href="{% url QUIZ_TICKET_URL ticket.id %}" class="btn btn-blue">Пройти тест</a><br>

  <div class="comments">
      <table class="comments">
        {% for comment in comments %}
        <tr>
          <td width="750px">
            <h3>{{ comment.creator }}</h3>
            <p>{{ comment.body }}</p>
            <td width="200px"><h5>{{ comment.created }}</h5></td>
          </td>
        </tr>
        {% endfor %}
      </table>

    <form action="{% url 'comment-post' ticket.id %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{ field }}
      {% endfor %}
      <button type="submit" class="btn btn-blue">Комментировать</button>
    </form>

  </div>

  </div>
{% endblock %}
