{% extends 'base.html' %}

{% load static %}

{% block title %} Билеты {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}"/>
{% endblock %}

{% block content %}
  <div class="container">
    <input type="text" id="ticket-search" onkeyup="searchTicket()"
      placeholder="Искать билет...">
    <table class="catalog" id="tickets-table">
      <tr>
        <th width="794">Название</th>
        <th width="152">Сложность</th>
      </tr>
      {% for ticket in tickets %}
        <tr>
          <td>
            <a href="{{ ticket.get_absolute_url }}" class="ticket">
              {{ ticket.name }}
            </a>
          </td>
          <td class="star">
            <img src="{% static ticket.get_absolute_img_path %}">
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'tickets/js/tickets.js' %}"></script>
{% endblock %}
