{% extends 'base.html' %}

{% load static %}

{% block title %} {{ ticket.name }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="container">

  <div class="ticket-detail">
    <h3>Билет: {{ ticket.name }}</h3>
  </div>
  <div class="border-bottom ticket-actions">
    <a class="btn btn-blue" href="{{ ticket.get_pdf_url }}" download>Скачать</a>
    <a class="btn btn-blue" href="{{ ticket.get_pdf_url }}">Читать онлайн</a>
    <a class="btn btn-blue" href="{{ ticket.get_quiz_url }}">Пройти тест</a>
  </div>

  <table class="comments-table">
    {% for comment in ticket.get_comments %}
      <tr>
        <td class="border-bottom">
          <h3>{{ comment.user }}</h3>
          <h5>{{ comment.date }}</h5>


          <div class="comment">
            <img src="{{ comment.user.profile.photo.url }}" width="80px" height="80px">
            <div class="comment-body">
            <p>{{ comment.body }}</p>
            </div>
          </div>


          {% if request.user == comment.user %}
            <form action="{{ comment.get_absolute_delete_url }}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-blue delete-comment">Удалить</button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="submit-comment">
    <h3>Оставьте свой комментарий</h3>
    <table>
      <tr>
        <td>
          <form action="{% url FORUM_COMMENT_CREATE_URL ticket.id %}" method="POST">
            {% csrf_token %}
            {% for field in comment_form %}
              {{ field }}
            {% endfor %}<br>
            <button type="submit" class="btn btn-blue">Комментировать</button>
          </form>
        </td>
        <td class="submit-comment-instruction">
          <div>
            <p>Здесь вы можете задать интересующие вас вопросы или опубликовать
              свои мысли по поводу решения задач. Возможно, они будут полезны другим пользователям.</p>
          </div>
        </td>
      </tr>
    </table>
    </div>
  </div>
{% endblock %}
