{% extends 'base.html' %}

{% load static %}

{% block icon %}
    <link rel="shortcut icon" href="static/img/logo-icon.png" type="image/x-icon">
{% endblock %}

{% block title %} Главная {% endblock %}

{% block content %}
  <header class="main-header">
    <div class="container">
        <div class="header-top"></div> <!-- Don't remove -->
        <div class="promo">
          <div class="promo-title">Математика - это интересно!</div>
          <p>Ты можешь больше, чем ты думаешь</p>
          {% if not user.is_authenticated %}
            <a href="{% url ACCOUNT_CREATE_URL %}" class='btn btn-blue'>
              Создать аккаунт
            </a>
          {% endif %}
        </div>
    </div>
  </header>

  <section class="choice">
    <div class="container">
      <h3 class="about">О проекте:</h3>
      <p class="about-body">Веб-приложение MathHelp разработано с целью оказания помощи студентам в изучении основ математического анализа.</p>
      <p class="about-body">После регистрации вы получите персональный аккаунт с трекером учебного процесса и доступ ко всем материалам курса, которые включают в себя:</p>
      <ul class="matherials-list">
        <li>билеты с теорией по каждой теме</li>
        <li>практические задачи для самостоятельного выполнения</li>
        <li>тесты для проверки усвоения материала</li>
      </ul>

    

    </div>
  </section>




{% endblock %}
