/* Form errors */

.errorlist {
  font-weight: 600;
  color: #D8000C;
  background-color: #FFD2D2;
  border: 1px solid;
  border-radius: .5em;
  box-shadow: 1px 1px 3px #888;
  padding: 10px;
  list-style-type: none;  /* remove bullet points */
  margin-left: .3em;
}

/* django.contrib.messages */

.success {
  background-color: #cce657;
}

.success p:before{
  content:url("../img/success.png");
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
}

.success p{
  display: inline-block;
  margin-left: 10px;
  color: #404040;
  font-size: 17px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px;
  padding-top: 0px;
}

.error {
  background-color: #ff6262;
}

.error p:before{
  content:url("../img/error.png");
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
}

.error p{
  display: inline-block;
  margin-left: 10px;
  color: #404040;
  font-size: 17px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px;
  padding-top: 0px;
}
