#ticket-search {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 3px solid #ddd; /* grey border */
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
