{% load static %}

<header class="second-head">
  <div class="container">
    <div class="head-img">
      <img src="{% static 'img/logo-head2.png' %}" width="230" height="86" alt="MathHelp">
    </div>

    <nav class="head-nav">
      <ul class="head-ul">
        <li>
          <a href="{% url PROFILE_DETAIL_URL user.username %}">Мой профиль</a>
        </li>
        <li>
          <a href="{% url TICKET_LIST_URL %}">Билеты</a>
        </li>
        <li>
          <a href="{% url REFERENCES_URL %}">Ссылки</a>
        </li>
        <li>
          <a>Настройки</a>
            <ul class='submenu'>
              <li><a href="{% url ACCOUNT_USERNAME_CHANGE_URL %}">Изменить имя пользователя</a></li>
              <li><a href="{% url ACCOUNT_PASSWORD_CHANGE_URL %}">Изменить пароль</a></li>
              <li><a href="{% url ACCOUNT_DELETE_URL %}">Удалить аккаунт</a></li>
              {% if request.user.is_superuser %}
              <li><a href="/admin/">Администрация</a></li>
              {% endif %}
            </ul>
        </li>
        <li>
          <a href="{% url ACCOUNT_LOGOUT_URL %}">Выход</a>
        </li>
      </ul>
    </nav>
    
  </div>
</header>
