{% load static %}

<header class="second-head">
  <div class="container">
    <div class="head-img">
      <img src="{% static 'img/logo-head2.jpg' %}" width="250" height="128" alt="MathHelp">
    </div>
    <nav class="head-nav">
      <ul class="head-ul">
        <li>
          <a href="{% url PROFILE_DETAIL_URL user.username %}">Мой профиль</a>
        </li>
        <li>
          <a href="{% url TICKET_LIST_URL %}">Билеты</a>
        </li>
        <li>
          <a href="{% url REFERENCES_URL %}">Ссылки</a>
        </li>
        <li>
          <a href="{% url ACCOUNT_SETTINGS_URL %}">Настройки</a>
        </li>
        <li>
          <a href="{% url ACCOUNT_LOGOUT_URL %}">Выход</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
