{% load static %}

<footer class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-social-promo">606103, г. Нижний Новгород,<br> ул. Львовская д. 1В<br>
      </div>
      <div class="copyright">Все права защищены © 2020</div>
      <div class="footer-social">
        <p>По всем вопросам:</p>
        <a href="https://vk.com/shalnayalalala" class="social-btn social-btn-vk">Вконтакте</a>
        <a href="https://www.facebook.com/profile.php?id=100014551297555" class="social-btn social-btn-fb" >Facebook</a>
      </div>
    </div>
  </div>
</footer>
