{% extends 'base.html' %}

{% load static %}

{% block title %} Отчёт {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class='quiz-detail'>
      <h3>Отчет по тесту: {{ quiz.ticket.name }}</h3>
    </div>
    <div class="report-result">
      <h3>Ваш результат: {{ quiz.result }}%</h3>
    </div>

      <table class="report-table">
        <tr>
          <th class="border-bottom" width="350px">Вопрос</th>
          <th class="border-bottom">Правильный ответ</th>
          <th class="border-bottom">Мой ответ</th>
          <th class="border-bottom">Статус</th>
        </tr>
        {% for question in questions %}
          <tr>
            <td class="border-bottom"><p class="body-font">{{ question.text }}</p></td>
            <td class="border-bottom"><p class="body-font">{{ question.correct_answer }}</p></td>
            <td class="border-bottom"><p class="body-font">{{ question.user_answer }}</p></td>
            <td class="border-bottom">
              {% if question.user_answer == question.correct_answer %}
              <img src="{% static 'quiz/img/success.png' %}" width="25" height="25">
              {% else %}
              <img src="{% static 'quiz/img/error.png' %}" width="25" height="25">
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>

    </form>
  </div>
{% endblock %}
