{% extends 'base.html' %}

{% load static %}

{% block title %} Тест {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class='quiz-detail'>
      <h3>Тест по теме: {{ quiz.ticket.name }}</h3>
    </div>
    <form class="quiz-form" action="{{ quiz.get_absolute_url }}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class='border-bottom'>
          <div class='label-form'>
            {{ field.label_tag }}
          </div>
          <div class='label-form-field'>
            {{ field }}
          </div>
        </div>
      {% endfor %}
      <button class="btn btn-blue" type="submit">Проверить</button>
    </form>
  </div>
{% endblock %}
