{% extends 'base.html' %}

{% load static %}

{% load tickets_extras %}

{% block title %} Tickets {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'tickets/css/style.css' %}"/>
{% endblock %}

{% block js %}
  <script src="{% static 'tickets/js/search.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <input type="text" id="ticket-search" onkeyup="searchTicket()"
                                          placeholder="Search ticket...">
    <table class="catalog" id="tickets-table">
      {% for ticket in tickets %}
        <tr>
          <td>
            <p><a href="{% url 'ticket_info' id=ticket.id %}" class="ticket">{{ ticket.name }}</a></p>
          </td>

          <td class="star">
            {% with "tickets/img/"|strcat:ticket.level|strcat:"-star.png" as image %}
                <img src="{% static image %}"/>
            {% endwith %}
          </td>

          <td>
            <a href="#" class="btn btn-blue btn-blue-small">Задачи</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
