{% extends 'base.html' %}

{% load static %}
{% load tickets_extras %}

{% block title %} Tickets {% endblock %}

{% block content %}

<div class="container">
  <table class="catalog">
    {% for ticket in tickets %}
      <tr>

        <td>
          <p><a href="{% url 'ticket-pdf' filename=ticket.filename %}" class="ticket">{{ ticket.name }}</a></p>
        </td>

        <td class="star">
          {% with "tickets/img/"|strcat:ticket.level|strcat:"-star.png" as image %}
              <img src="{% static image %}"/>
          {% endwith %}
        </td>

        <td>
          <a href="#" class="btn btn-blue btn-blue-small">Задачи</a>
        </td>

      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
