{% extends 'base.html' %}

{% load static %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <table class="profile-info">
      <tr>
        <td class="user-info">
          <img src="{{ user.profile.photo.url }}" width="200px" height="200px">
          <b>{{ user.first_name }} {{ user.last_name }}</b>
          <a class="btn btn-blue" href="{% url PROFILE_UPDATE_URL user.username %}">
            Редактировать
          </a>
        </td>

        <td class="user-stat">
          <h2 id="greeting">{{ user.first_name }}</h2>

          
          {% if request.session.read_tickets %}

            <b>Сегодня ты
              {% if user.profile.is_male %}
                читал
              {% elif user.profile.is_female %}
                читала
              {% endif %}
            эти билеты:</b>

            <ul>
            {% for ticket in request.session.read_tickets %}
                <li>
                  <i>{{ ticket }}</i>
                </li>
            {% endfor %}
            </ul>
          {% endif %}

          
          {% if request.session.taken_quizzes %}

            <h3>Результаты по тестам за сегодня:</h3>

            <table>
              <tr>
                <td>
                  <b>Название</b>
                </td>
                <td>
                  <b>Результат</b>
                </td>
                <td>
                  <b>Статус</b>
                </td>
              </tr>
              {% for quiz, data in request.session.taken_quizzes.items %}
                <tr>
                  <td>
                    {{ data.name }}
                  </td>
                  <td>
                    {{ data.result }}%
                  </td>
                  <td>
                    {% if data.saved %}
                    ✅
                    {% else %}
                    ❌
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

    <b>Результаты за все время</b>
          <table>
            <tr>
              <td>Тест</td>
              <td>Результат</td>
            </tr>
            {% for result in results %}
            <tr>
              <td>{{ result.quiz.ticket.name }}</td>
              <td>{{ result.percent }}%</td>
            </tr>
            {% endfor %}
          </table>


            <!-- <b>Сегодня ты еще не -->
            <!-- {% if user.profile.is_male %} -->
            <!--     занимался -->
            <!-- {% elif user.profile.is_female %} -->
            <!--     занималась -->
            <!-- {% endif %} -->
            <!-- :( Давай исправим это!</b> -->

        </td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}
