{% extends 'base.html' %}

{% load static %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}



{% block content %}

  <div class="container">
    <table class="profile-info">
      <tr>
        <td class="user-info">
          <div>
            <img src="{{ user.profile.photo.url }}" width="200px" height="200px">
          <b>{{ user.first_name }} {{ user.last_name }}</b>
          <a class="btn btn-blue" href="{% url PROFILE_UPDATE_URL user.username %}">
            Редактировать
          </a>
          </div>
        </td>

        <td class="user-stat">
          <div class='greeting'>
            <h3 id="greeting">{{ user.first_name }}</h3>
          </div>
              {% if request.session.read_tickets %}
              
              <div class="heading">
                <h3>Сегодня ты
                  {% if user.profile.is_male %}
                    читал
                  {% elif user.profile.is_female %}
                    читала
                  {% endif %}
                эти билеты:</h3>
              </div>
              
              {% for ticket in request.session.read_tickets %}
              <div class="border-bottom">
                <p class="body-font">{{ ticket }}</p>
              </div>
              {% endfor %}
      
              {% endif %}

          


    
            {% if request.session.taken_quizzes %}
            <div class="heading">
              <h3>Результаты по тестам за сегодня:</h3>
            </div>
            <table class="today-results">
              <tr>
                <th><p class="body-font">Название</p></th>
                <th><p class="body-font">Результат</p></th>
                <th><p class="body-font">Сохранен</p></th>
              </tr>
                {% for quiz, data in request.session.taken_quizzes.items %}
              <tr>
                <td class="border-bottom"><p class="body-font">{{ data.name }}</p></td>
                <td class="border-bottom"><p class="body-font">{{ data.result }}%</p></td>
                <td class="border-bottom">
                  {% if data.saved %}
                  <img src="{% static 'profiles/img/check.png' %}" width="20" height="20">
                  {% else %}
                  <img src="{% static 'profiles/img/cross.png' %}" width="20" height="20">
                  {% endif %}
                </td>
              </tr>
                {% endfor %}
              </table>
            {% endif %}
 

          
         <div class="heading">
          <h3>Результаты за все время</h3>
         </div>

          <table class="all-results">
            <tr>
              <th>Тест</th>
              <th>Результат</th>
            </tr>
            {% for result in results %}
            <tr>
              <td class="border-bottom"><p class="body-font">{{ result.quiz.ticket.name }}</p></td>
              <td class="border-bottom"><p class="body-font">{{ result.percent }}%</p></td>
            </tr>
            {% endfor %}
          </table>


            <!-- <b>Сегодня ты еще не -->
            <!-- {% if user.profile.is_male %} -->
            <!--     занимался -->
            <!-- {% elif user.profile.is_female %} -->
            <!--     занималась -->
            <!-- {% endif %} -->
            <!-- :( Давай исправим это!</b> -->

        </td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}
