{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}


<section class="contacts">
  <div class="container">
    <h2 class="contacts-form title">Вход</h2>
    <form method="post" class="contacts-form" autocomplete="off"> {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="contacts-form btn btn-blue">Login</button>
      <p class="contacts-instruction">
        У Вас еще нет аккаунта?
        <a href="{% url 'register' %}"><strong>Зарегистрироваться</strong></a>
      </p>
    </form>
  </div>
</section>

{% endblock %}
